<!DOCTYPE html>
<html>
  <head>
    <title>Surfing Carmel</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1> Surf's Up in Carmel! </h1>
        <ul class="sub-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="gallery.html">Gallery</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        {{#journal_entry}}
          <h4><a href="#" class="subheader">{{title}}</a></h4>
          <p>{{description}}</p>
          <form action="/journal_entries/{{index}}" method="post">

            <input type="hidden" name="method" value="delete">
            <input type="submit" value="Delete">
          </form>
          <a href="/edit_journal_entry/{{index}}"> Edit This Entry </a>
        {{/journal_entry}}
      </div>
    </div>
  </body>
</html>
